# http://editorconfig.org

# 一个特殊的属性, 应该在文件顶部、任何其他部分以外指定.
# 设置为 true 时停止 .editor 配置文件搜索, 只使用当前文件的配置
root = true

[*]
# 缩减风格
# 可能的值 - tab, space
indent_style = space

# 每个间隔字符的缩进尺寸
# 可能的值 - 整数, tab
indent_size = 2

# 行末尾格式化
# 可能的值 - lf, crlf, cr
end_of_line = lf

# 文件字符编码
# 可能的值 - latin1, utf-8, utf-16be, utf-16le
charset = utf-8

# 定义是否去除末尾行两端空白字符
# 可能的值 - true, false
trim_trailing_whitespace = true

# 定义文件是否应该以新行结尾
# 可能的值 - true, false
insert_final_newline = true
